@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --black: #1f1f1f;
  --white: #fff;
  --yelow: #ffc554;
  --deep-yellow: #ffc727;
  --bg-yellow: #fffaf1;
  --btn-yellow: #fff4d4;
  --footer-yellow: #fff9e9;
  --grey: #737373;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --transition: all 0.2s linear;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: var(--black);
  font-weight: 400;
}

.d-flex {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

p {
  color: var(--grey);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.container {
  max-width: 1200px;
  width: 100%;
}

section {
  padding: 2rem;
}

.yellow {
  color: var(--yelow);
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  z-index: 99999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.navbar .logo {
  font-weight: 700;
  font-size: 2rem;
}

.nav-menu {
  display: flex;
}

.nav-menu .nav-item {
  margin: 1rem;
}

.nav-item a {
  font-weight: 500;
  font-size: 0.9rem;
  transition: var(--transition);
  padding: 0.5rem 0;
  border-bottom: 2px solid transparent;
}

.nav-item a:hover {
  color: var(--yelow);
  border-color: var(--yelow);
}

.btn {
  background-color: var(--btn-yellow);
  padding: 0.5rem !important;
  color: var(--yelow);
  border-radius: 0.3rem;
  transition: var(--transition);
}

.btn:hover {
  box-shadow: var(--box-shadow);
}

.menu {
  visibility: hidden;
}
/* End Header */

/* Home Section */

.home {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  place-items: center;
}

.home .container .col-1 span {
  color: var(--yelow);
}

.home .container .col-1 p {
  margin-bottom: 1rem;
}

.home .container .col-1 button {
  padding: 0.5rem 0.7rem;
  font-weight: 600;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: var(--yelow);
  color: var(--white);
  transition: var(--transition);
}

.home .container .col-1 button:hover {
  box-shadow: var(--box-shadow);
  transform: translateY(5px);
}

.home .container .col-2 img {
  width: 30rem;
}

/* End Home Section */

/* Services Section */

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-yellow);
  padding: 4rem 2rem;
}

.service .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.service .title h1 {
  font-size: 2rem;
}

.service .title p {
  width: 85%;
}

.service .col-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}

.col-1 .card {
  padding: 1rem;
  transition: 0.3s ease-in-out;
}

.col-1 .card h3 {
  margin: 0.5rem 0;
}

.col-1 .card p {
  margin: 0.8rem 0;
}

.col-1 .card:hover {
  cursor: pointer;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.col-1 .card a {
  font-weight: 500;
  transition: var(--transition);
}

.col-1 .card:hover a {
  color: var(--yelow);
}

/* End Services Section */

/* Services Section */

.aboutUs .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.aboutUs .col-1 img {
  width: 30rem;
}

.aboutUs .col-2 h1 {
  font-size: 3rem;
}

.aboutUs .col-2 p {
  width: 85%;
  margin-bottom: 2rem !important;
}

.aboutUs .btn {
  border: none;
  cursor: pointer;
}

/* End Services Section */

/* Deliver */

.deliver {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deliver .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.deliver .col-2 img {
  width: 27rem;
}

.deliver .btn {
  border: none;
}

/* End Deliver */

/* Track */

.track {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.track .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.track .col-1 img {
  width: 25rem;
}

/* End Track */

/* Contact */

.contactUs {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUs .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  background-color: var(--yelow);
  position: relative;
  height: 25rem;
  border-radius: 10px;
}

.contactUs .col-1 img {
  width: 15rem;
  position: absolute;
  top: -10%;
  left: 20%;
}

.contactUs .col-2 {
  padding-right: 2rem;
}

.contactUs .col-2 h1 {
  font-size: 2.3rem;
}

.contactUs .col-2 p {
  margin-bottom: 2rem;
}

.white {
  color: var(--white);
}

/* End Contact */

/* Footer */

footer {
  background-color: var(--bg-yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  padding: 0 2rem;
  position: relative;
}

footer .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 7rem 0;
}

footer .col-1 h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

footer .col-1 p {
  font-size: 0.9rem;
  width: 80%;
}

footer .col-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.link h5 {
  margin-bottom: 1rem;
}

.link p {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.link a {
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: var(--grey);
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0.7rem;
  background-color: var(--deep-yellow);
}

.copyright h3 {
  font-weight: inherit;
  font-size: 0.9rem;
}

/* End Footer */

/* Responsive */

@media screen and (max-width: 991px) {
  .navbar .nav-menu {
    position: absolute;
    top: -400%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 18rem;
    width: 80%;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    opacity: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
  }

  .nav-menu.active {
    top: 350%;
    opacity: 1;
  }

  .menu {
    visibility: visible;
    width: 2rem;
  }

  /* Home */

  .home .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .home .col-1 {
    text-align: center;
    margin-top: 5rem;
  }

  .home .container .col-2 img {
    width: 20rem;
    margin-top: 2rem;
  }

  /* Service */

  .service .col-1 {
    grid-template-columns: repeat(2, 1fr);
  }

  /* About Us */

  .aboutUs .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .aboutUs .col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .aboutUs .col-2 h1 {
    font-size: 2.5rem;
  }

  .aboutUs .col-1 img {
    width: 20rem;
  }

  /* Deliver */

  .deliver {
    margin-top: 4rem;
  }

  .deliver .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .deliver .col-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .deliver .col-1 h1 {
    font-size: 2.5rem;
  }

  .deliver .col-2 img {
    width: 20rem;
    margin-top: 4rem;
  }

  /* Track */
  .track .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .track .col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .track .col-2 h1 {
    font-size: 2.5rem;
  }

  .track .col-1 img {
    width: 20rem;
    margin-bottom: 5rem;
  }

  /* Contact us */

  .contactUs .col-1 img {
    left: 15%;
  }

  /* Footer */

  footer {
    height: max-content;
    padding: 3rem 2rem;
  }
  footer .container {
    grid-template-columns: 1fr;
    margin: 2rem 0;
  }

  footer .col-1 {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 874px) {
  .contactUs .col-1 img {
    left: 12%;
  }
}

@media screen and (max-width: 800px) {
  .service .col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 783px) {
  .contactUs .col-1 img {
    left: 9%;
  }
}

@media screen and (max-width: 725px) {
  .contactUs .container {
    grid-template-columns: repeat(1, 1fr);
    height: max-content;
    padding: 2rem 1.5rem;
  }

  .contactUs .col-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.4rem;
  }

  .contactUs .col-2 {
    padding-right: 0rem;
    padding-bottom: 2rem;
  }

  .contactUs .col-1 img {
    position: relative;
    left: 0;
    width: 12rem;
  }

  .contactUs .col-2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Footer */

  footer .col-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  footer .col-2 .link {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 482px) {
  /* Footer */

  footer .col-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  footer .col-2 .link {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 457px) {
  .copyright {
    text-align: left;
  }
}

@media screen and (max-width: 385px) {
  /* Home */
  .home .container .col-2 img {
    width: 16rem;
  }

  /* About Us */

  .aboutUs .col-2 h1 {
    font-size: 2.5rem;
  }

  .aboutUs .col-1 img {
    width: 16rem;
  }

  /* Deliver */

  .deliver .col-1 h1 {
    font-size: 2.5rem;
  }

  .deliver .col-2 img {
    width: 16rem;
  }

  /* Track */

  .track .col-1 img {
    width: 16rem;
  }
}

@media screen and (max-width: 358px) {
  .contactUs .col-2 h1 {
    font-size: 1.8rem;
  }
}
